$baseFont: 16px;

$maxWidth: 1920;
$maxHeight: 969;




$TitleFont: 32px;

$scoreFont: 65px;
$scoreLineHeight: 75px;
$scoreLargeW: 125px;
$scoreLargeH: 75px;
// $scoreMedium: 125px;

$multiFont: 24px;
$multiMaxW: 75px;
$multiMaxPosLeft: 104px; // 84+20

$questFont: 30px;
$questMinH: 100px;
$questLineHeight: 100px;
$padding: 10px;
