@import './variables';
@import './mixins';

// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
// $primary: #8c67ef;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';


html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: $baseFont;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// home tv // 3840 - 166px font base
	// @media only screen and (min-width: 3000px) {
	// 	$baseFont: 24px;
	// }
}

html, body, #app, .page {
	width: 100%;
	height: 100%;
}

.c-strong {
	font-weight: strong;
}

.c-margin-bottom-1 {
	margin-bottom: 15px;
}
